@import '../../styles/main';

h2 {
    color: #e5e5e5;
    margin-bottom: 7px;
}

.movieRow {
    width: 95%;
    margin: 50px auto;
}

.movieRow__movies {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;

    .movie__image::-webkit-scrollbar {
        display: none;
    }

    .movie__image {
        object-fit: contain; /* Keeps the ratio */
        width: 100%;
        max-height: 250px;
        transition: transform 450ms;
        margin: 10px;
        cursor: pointer;

        &:hover {
            transform: scale(1.06);
        }
    }
}