@import '../../styles/main';

.navbar {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    padding: 0 2.5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
    z-index: 1000;

    .navbar__left {
        display: flex;
        flex-direction: row;
        align-items: center;
        .navbar__logo {
            height: 40px;
            width: 100px;

            svg {
                height: 40px;
                width: 100%;
            }
        }

        .navbar__linksLeft {
            display: flex;
            flex-direction: row;
            margin-left: 50px;

            a {
                li {
                    padding-right: 18px;
                }
            }
        }
    }

    .navbar__right {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            margin-right: 30px;
        }

        .icon__container {
            margin-right: 30px;

            svg {
                height: 20px;
                width: 100%;
            }
        }
    }
}